/* Breakpoints */

$sm: map-get($grid-breakpoints, sm);
$md: map-get($grid-breakpoints, md);
$lg: map-get($grid-breakpoints, lg);
$xl: map-get($grid-breakpoints, xl);
$xxl: map-get($grid-breakpoints, xxl);

$global-min-width: 320px;
$global-max-width: $xxl;
