-
  const $PAGES = {
    'index': 'Главная',
    'catalog': 'Каталог',
    'products': 'Продукция',
    'products-item': 'Карточка продукта',
    'recipes': 'Рецепты',
    'recipes-item': 'Карточка рецепта',
    'about': 'О компании',
    'vacancies': 'Вакансии',
    'contacts': 'Контакты',
    'news': 'Новости',
    'news-item': 'Новостная карточка',
  };
