-
  const $PAGES = {
    'index': ['Главная', `${$SITE_TITLE}: магазины родных продуктов`],
    'catalog': ['Каталог', 'Каталог'],
    'products': ['Продукция', 'Молочная продукция'],
    'products-item': ['Карточка продукта', 'Колбаски Баварские улитки'],
    'recipes': ['Рецепты', 'Рецепты'],
    'recipes-item': ['Карточка рецепта', 'Булочки с корицей'],
    'about': ['О компании', 'О нас'],
    'vacancies': ['Вакансии', 'Вакансии'],
    'contacts': ['Контакты', 'Контакты'],
    'news': ['Новости', 'Новости'],
    'news-item': ['Новостная карточка', 'Заголовок новости'],
  };
