-
  const $SITE_TITLE = 'Любава';
  const $FORM_DEFAULT_ACTION = 'https://echo.htmlacademy.ru';
  const $CATALOG_ITEMS = [
    'Овощи и фрукты',
    'Готовые блюда',
    'Мясо и колбасы',
    'Молочная продукция',
    'Бакалея и напитки',
    'Кондитерские изделия',
  ];
  const $CITIES = [
    'Москва',
    'Санкт-Петербург',
    'Волгоград',
    'Казань',
    'Краснодар',
    'Нижний Новгород',
    'Самара',
  ];
