mixin contacts-line()
  .contacts-line
    mixin contacts-line__nest(modifier)
      +nest()(parent='contacts-line', modifier=modifier)
        block
    +contacts-line__nest('tel')
      +tel()
    +contacts-line__nest('city')
      +city-locator()
