.#{$this}__nest {
  &--tel {
    display: none;
  }

  @include media-breakpoint-from(xl) {
    &--tel {
      display: block;
      margin-bottom: 8px;
    }

    &--city {
      width: 122px;
    }
  }
}
