mixin shops-select()
  .shops-select
    .shops-select__dropdown
    .shops-select__scroller
      ul.s-list.shops-select__list
        - for(let i = 1; i <= 3; i += 1)
          li.shops-select__item
            +shop-card()
