-
  const getNavigationList = function getCustomNavigationList(orderList, blockPosition) {
    const _NAVIGATION_ITEMS = [
      ['catalog', 'Каталог', 'Каталог товаров'],
      ['shops', 'Магазины', 'Где купить'],
      ['contacts', 'Контакты', 'Контакты'],
      ['about', 'О нас', 'О нас'],
      ['discounts', null, 'Акции'],
      ['news', null, 'Новости'],
      ['recipes', null, 'Рецепты'],
      ['blog', null, 'Блог'],
      ['partnership', null, 'Сотрудничество'],
    ];
    const navigationList = [];

    for (let i = 0; i < orderList.length; i += 1) {
      const index = orderList[i] - 1;
      const [modifier, headerText, footerText] = _NAVIGATION_ITEMS[index];
      let text;

      switch (blockPosition) {
        case 'header': {
          text = headerText;
          break;
        }
        case 'footer': {
          text = footerText;
          break;
        }
      }

      const navigationItem = [modifier, text];
      navigationList.push(navigationItem);
    }

    return navigationList;
  };
