mixin socials()
  .socials
    ul.d-flex-row.socials-list
      -
        const _SOCIALS_ITEMS = [
          ['facebook', 'Facebook'],
          ['instagram', 'Instagram'],
          ['vk', 'ВКонтакте'],
        ];
      each item in _SOCIALS_ITEMS
        - const [modifier, label] = item;
        li.socials__item
          a(
            class=setModifiers('socials__link', [modifier]),
            href=`https://${modifier}.html`,
            aria-label=label,
          )
