mixin socials()
  .socials
    ul.s-list.socials__list
      -
        const _SOCIALS_ITEMS = [
          ['facebook', 'Facebook'],
          ['instagram', 'Instagram'],
          ['vk', 'ВКонтакте'],
        ];
      each item in _SOCIALS_ITEMS
        - const [modifier, legend] = item;
        li.socials__item
          a(
            class=setModifiers('socials__link', [modifier]),
            href=`https://${modifier}.com/`,
          )
            span.s-visually-hidden.socials__string= legend
