.#{$this}__link {
  @include size($socials-item-width, 33px);
  display: block;
  background-repeat: no-repeat;

  $modifiers: (facebook, instagram, vk,);

  @each $modifier in $modifiers {
    &--#{$modifier} {
      background-image: url("../img/#{$this}__link--#{$modifier}.svg");
    }
  }
}
