mixin about()
  .about
    .s-container.about__container
      .about__grid
        +nest()(parent='about', modifier='text')
          h2.s-heading-1.about__heading О нас
          .about__content
            include _dt_about.pug
            each paragraph in _ABOUT_PARAGRAPHS
              p.s-paragraph.about__paragraph= paragraph
            ul.s-list.about__list
              each item in _ABOUT_LIST
                li.s-list-item.about__item= item
        +nest()(parent='about', modifier='decoration')
          +about-video().about__video
          .about__target-link
            +arrow-link(href='about.html'): | Подробнее
