.#{$this}__input {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
  border-style: none;
  pointer-events: none;

  .#{$this}--header & {
    display: inline;
    padding: 0;
    vertical-align: top;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #5a5a5a;
  }

  .#{$this}--body & {
    color: white;
  }
}
