.#{$this}__input {
  display: inline;
  overflow: hidden;
  padding: 0;
  vertical-align: top;
  font-size: 16px;
  letter-spacing: 0.04em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #5a5a5a;
  border-style: none;
  pointer-events: none;
}
