-
  const _FOOTER_CATALOG_LIST = [
    $CATALOG_ITEMS['meat'],
    $CATALOG_ITEMS['ready-meals'],
    $CATALOG_ITEMS['greenery'],
    $CATALOG_ITEMS['confectionery'],
    $CATALOG_ITEMS['dairy'],
    $CATALOG_ITEMS['grocery'],
  ];
  const _FOOTER_NAVIGATION_LIST = [
    ['Каталог товаров', 'catalog'],
    ['Акции', 'discounts'],
    ['О нас', 'about'],
    ['Новости', 'news'],
    ['Рецепты', 'recipes'],
    ['Блог', 'blog'],
    ['Сотрудничество', 'partnership'],
    ['Где купить', 'shops'],
    ['Контакты', 'contacts'],
  ];
