.#{$this} {
  background-color: #f2f2f2;
  background-image: url("../img/#{$this}__container-Background-1.svg");
  background-position: calc(50% - 160px) 100%;
  background-size: auto 118px;
  background-repeat: no-repeat;

  @include media-breakpoint-from(lg) {
    background-image: none;
  }
}
