.#{$this}__legend {
  &--viewport_wide {
    display: none;
  }

  @include media-breakpoint-from(xl) {
    &--viewport_narrow {
      display: none;
    }

    &--viewport_wide {
      display: inline;
    }
  }
}
