.#{$this}__content {
  --#{$this}__content-vertical-shift: 24px;

  @include padding-hor(var(--g_footer-hor-shift));
  display: none;
  margin-top: var(--#{$this}__content-vertical-shift);
  padding-bottom: var(--#{$this}__content-vertical-shift);
  border-bottom: 1px solid #c8c8c8;

  .#{$js-hook} & {
    display: block;
  }

  @include media-breakpoint-from(xl) {
    display: block;
    border-bottom-style: none;
  }
}
