.#{$this}__items {
  .#{$this}--navigation & {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 10px;
    justify-content: space-between;
  }

  @include media-breakpoint-from(xl) {
    .#{$this}--navigation & {
      grid-column-gap: 20px;
    }
  }
}
