mixin header-catalog()
  .header-catalog
    ul.header-catalog__list
      - const _HEADER_CATALOG_LIST = getCatalogList([1, 2, 3, 4, 5, 6]);
      each item in _HEADER_CATALOG_LIST
        - const [text, path] = item;
        li.header-catalog__item
          a.header-catalog__link(href=path)= text
