mixin header-catalog()
  .header-catalog
    ul.s-list.header-catalog__list
      -
        const _HEADER_CATALOG_MODIFIERS = [
          'greenery',
          'ready-meals',
          'meat',
          'dairy',
          'grocery',
          'confectionery',
        ];
        const getList = function getHeaderCatalogList() {
          const catalogList = [];
          for (let i = 0; i < _HEADER_CATALOG_MODIFIERS.length; i += 1) {
            const currentModifier = _HEADER_CATALOG_MODIFIERS[i];
            const currentItem = $CATALOG_ITEMS[currentModifier];
            const currentHeaderItem = [currentModifier, ...currentItem];
            catalogList.push(currentHeaderItem);
          }

          return catalogList;
        };
        const _HEADER_CATALOG_LIST = getList();

      each item in _HEADER_CATALOG_LIST
        - const [modifier, text, path] = item;
        li.header-catalog__item
          - const isProductsPage = ($pageId === 'products' && modifier === 'dairy');
          a(
            class=[
              setModifiers('header-catalog__link', [modifier]),
              isProductsPage ? 'header-catalog__link--current' : null,
            ],
            href=(isProductsPage ? null : path),
          )= text
