.#{$this}__link {
  @include padding-ver($gutter);
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: black;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  $icons: (
    greenery: 27,
    ready-meals: 24,
    meat: 24,
    dairy: 27,
    grocery: 25,
    confectionery: 27,
  );

  @each $modifier, $width in $icons {
    &--#{$modifier}::before {
      background-image: url("../img/#{$this}__link--#{$modifier}.svg");
      background-size: #{$width}px #{$width}px;
    }
  }
}
