-
  const _CATALOG_IMAGES = {
    'meat': [572, 320],
    'ready-meals': [250, 320],
    'greenery': [298, 320],
    'confectionery': [265, 320],
    'grocery': [285, 320],
    'dairy': [568, 320],
  };
  const getFullItem = function getFullCatalogItemArray(modifier) {
    const fullItem = [
      modifier,
      ...$CATALOG_ITEMS[modifier],
      _CATALOG_IMAGES[modifier],
    ];
    return fullItem;
  };
  const _MAIN_CATALOG_LIST = [
    getFullItem('meat'),
    getFullItem('ready-meals'),
    getFullItem('greenery'),
    getFullItem('confectionery'),
    getFullItem('grocery'),
    getFullItem('dairy'),
  ];
