mixin catalog()
  .catalog
    .s-container.catalog__container
      block
      div(class=setModifiers('catalog__nest', ['content']))
        ul.s-list.catalog__list
          include _dt_catalog.pug
          each item, index in _MAIN_CATALOG_LIST
            li(class=setModifiers('catalog__item', [index + 1]))
              +catalog-item()(picture=item)
