.#{$this}__nest {
  &--headline {
    @include padding-hor(12px);
    margin-bottom: 24px;
  }

  &--content {
    margin-bottom: 35px;
  }

  &--target-link {
    order: 1;
  }

  @include media-breakpoint-from(xl) {
    &--headline {
      margin-bottom: 0;
      margin-right: auto;
    }

    &--content {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 0;
    }

    &--target-link {
      order: 0;
      align-self: center;
    }
  }
}
