mixin recipes()
  .recipes
    .s-container.recipes__container
      block
      +nest()(parent='recipes', modifier='content')
        ul.s-list.recipes__list
          - const _PRICES = [500, 2500, 500];
          each price, i in _PRICES
            li.recipes__item
              +recipe-preview()(enumerator= i + 1, price=price)
