mixin shops()
  mixin shops__nest(modifier)
    +nest()(parent='shops', modifier=modifier)
      block

  .shops
    .shops__container
      h2.s-heading-1.shops__heading Наши магазины
      .shops__content
        +shops__nest('map')
          .map
            .map__content(id='map')
        +shops__nest('select')
          +shops-select()
