mixin user()
  .user
    -
      const _USER_LINKS = [
        ['cabinet', 'Личный кабинет'],
        ['card', 'Активировать карту'],
      ];
    each item, index in _USER_LINKS
      - const [modifier, text] = item;
      div(class=setModifiers('user__row', [index + 1]))
        a(class=setModifiers('user__link', [modifier]), href='#')= text
