mixin user()
  .user
    -
      const _USER_LINKS = [
        ['cabinet', 'Личный кабинет'],
        ['card', 'Активировать карту'],
      ];
    .user__grid
      each item, index in _USER_LINKS
        - const [modifier, text] = item;
        p(class=setModifiers('user__nest', [index + 1]))
          a(class=setModifiers('user__link', [modifier]), href='#')= text
