mixin promo-slide()
  .promo-slide
    .promo-slide__container
      p.promo-slide__lead Основной заголовок
      p.promo-slide__description По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
      .promo-slide__discount
        span.promo-slide__string скидки до -30% онлайн
