.#{$this}__lead {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 900;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: black;

  @include media-breakpoint-from(xl) {
    font-size: 82px;
    color: white;
  }
}
