mixin advantages-item()
  - const { modifier, caption } = attributes;
  div(class=setModifiers('advantages-item', [modifier]))
  .advantages-item__content
    h3.s-heading-2.advantages-item__caption= caption
    p.s-paragraph.advantages-item__paragraph С другой стороны консультация с широким активом способствует подготовки и реализации форм.
