extends ../base/_template_html--Inner.pug

block page-id
  - const $pageId = 'catalog';

block body-main__Content--inner
  .body-main__catalog
    .catalog
      .s-container.catalog__container
        +catalog__content()
