extends ../base/_template_html.pug

block page-id
  - const $pageId = 'index';

block body-main__Content
  +body-main__nest()(modifier='promo', type='header')
    .promo
  +body-main__nest()(modifier='about')
    +about()
  +body-main__nest()(modifier='advantages')
    +advantages()
  +body-main__nest()(modifier='catalog')
    +catalog()
      div(class=setModifiers('catalog__nest', ['headline']))
        h2.s-heading-1.catalog__heading В нашем магазине
      div(class=setModifiers('catalog__nest', ['target-link']))
        +arrow-link()(href='catalog.html'): | Перейти в каталог
  +body-main__nest()(modifier='recipes')

  +body-main__nest()(modifier='multicolumn', type='div')
    section(class=setModifiers('body-main__subnest', ['news-preview']))
      +news-preview()
    aside(class=setModifiers('body-main__subnest', ['feedback']))
      +feedback()
  +body-main__nest()(modifier='shops')
    +shops()
