extends ../base/_template_html.pug

block page-id
  - const $pageId = 'index';

block body-main__Content
  header(class=setModifiers('body-main__nest', ['promo']))
    .promo
  section(class=setModifiers('body-main__nest', ['about']))
    .about
  section(class=setModifiers('body-main__nest', ['advantages']))
    .advantages
  section(class=setModifiers('body-main__nest', ['catalog']))
    +catalog()
