mixin relations()
  - const { modifier } = attributes;
  div(class=setModifiers('relations', [modifier]))
    block
mixin relations__nest(modifier)
  +nest()(parent='relations', modifier=modifier)
    block
