mixin promo()
  .promo
    .promo__container
      .promo__slider
        .promo__list
          - for (i = 1; i <= 5; i += 1)
            div(class=setModifiers('promo__item', [i]))
              +promo-slide()
      .promo__controller(id='slick-dots-host')
