.#{$this}__agent {
  position: relative;
  padding-right: calc(35px + 117px);
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-green;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 117px;
    height: 100%;
    background-image: url("../img/#{$this}__agent.svg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
