mixin news-preview()
  .news-preview
    .news-preview__container
      .news-preview__headline
        h2.s-heading-1.news-preview__heading Новости
        a.news-preview__more-link(href='news.html') Смотреть все
      ul.s-list.news-preview__list
        - for (let i = 1; i <= 2; i += 1)
          li.news-preview__item
            article.new-preview
              h3.new-preview__heading Весенний салат из свежих овощей и морепродуктов
              p.s-paragraph.new-preview__details Повседневная практика показывает, что рамки и место обучения кадров в значительной степени обуславливает создание систем массового участия.
              +arrow-link().new-preview__footer(href='news-item.html')
                | Подробнее
