.#{$this}__nest {
  &--header-navigation {
    margin-bottom: 43px;
  }

  &--contacts-line {
    order: 1;
  }

  &--user {
    margin-bottom: 17px;
  }

  @include media-breakpoint-from(xl) {
    &--header-navigation {
      margin-bottom: 0;
    }

    &--contacts-line {
      @include margin-hor(auto);
      order: 0;
    }

    &--user {
      margin-bottom: 0;
      margin-left: auto;
    }
  }
}
