.body-header
  .s-container.body-header__container
    .body-header__grid
      mixin body-header__nest(modifier)
        +nest()(parent='body-header', modifier=modifier)
          block
      +body-header__nest('logo')
        +logo()(location='header')
      +body-header__nest('menu-control')
        +menu-control()
      +body-header__nest('top-menu')
        +top-menu()
