.#{$this}__grid {
  position: relative;
  z-index: 1;
  display: flex;

  @include media-breakpoint-from(xl) {
    position: static;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 14px;
  }
}
