.#{$this}__nest {
  &--logo {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &--top-menu {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 314px;
  }
}
