.#{$this}__nest {
  &--logo {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
  }

  &--top-menu {
    position: absolute;
    top: var(--g_shift-top);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 314px;

    .#{$js-hook} & {
      display: block;
    }
  }

  &--menu-control {
    margin-top: 22px;
  }
}
