.#{$this}__container {
  @include padding-hor(20px);
  background-image: url("../img/#{$this}__container.svg");
  background-position: 0 0;
  background-size: auto 100%;
  background-repeat: no-repeat;

  @include media-breakpoint-from(xl) {
    background-image:
      url("../img/#{$this}__container--Green.svg"),
      url("../img/#{$this}__container--Brown.svg"),
      url("../img/#{$this}__container--Gray.svg");
    background-position:
      0 calc(100% + 2px),
      0 0,
      calc(100% + 120px) 0;
    background-size:
      100% auto,
      auto 100%,
      auto 120%;
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat;
  }
}
