mixin logo(logoLocation)
  .logo
    -
      const getLogoProps = function getLogoImageProperties(location) {
        const baseWidth = ({ header: 196, footer: 202 });
        const LOGO_IMAGES_DATA = {
          alt:$pageHeading,
          path: 'logo__image',
          ext: 'png',
          mediaSet: [['lg', 264], baseWidth[location]],
        };
        return LOGO_IMAGES_DATA;
      };
    .logo__container
      // test
      a.logo__link(href='#')
        +s-picture(getLogoProps(logoLocation)).logo__picture
        if $pageId === 'index'
          h1.s-visually-hidden.logo__headline= $pageHeading
