include ../components/scaffold/s-picture/_mx_s-picture.pug
include ../components/capital/contacts-line/_mx_contacts-line.pug
include ../components/capital/crumbs/_mx_crumbs.pug
include ../components/capital/header-catalog/_mx_header-catalog.pug
include ../components/capital/header-navigation/_mx_header-navigation.pug
include ../components/capital/logo/_mx_logo.pug
include ../components/capital/menu-control/_mx_menu-control.pug
include ../components/capital/tel/_mx_tel.pug
include ../components/capital/user/_mx_user.pug
