include ../components/scaffold/s-picture/_mx_s-picture.pug

include ../components/capital/about/_mx_about.pug
include ../components/capital/about-video/_mx_about-video.pug
include ../components/capital/advantages/_mx_advantages.pug
include ../components/capital/appendix/_mx_appendix.pug
include ../components/capital/arrow-link/_mx_arrow-link.pug
include ../components/capital/body-main/_mx_body-main.pug
include ../components/capital/catalog/_mx_catalog.pug
include ../components/capital/catalog-item/_mx_catalog-item.pug
include ../components/capital/city-locator/_mx_city-locator.pug
include ../components/capital/crumbs/_mx_crumbs.pug
include ../components/capital/dropdown-button/_mx_dropdown-button.pug
include ../components/capital/feedback/_mx_feedback.pug
include ../components/capital/feedback-form/_mx_feedback-form.pug
include ../components/capital/footer-list/_mx_footer-list.pug
include ../components/capital/header-catalog/_mx_header-catalog.pug
include ../components/capital/header-navigation/_mx_header-navigation.pug
include ../components/capital/logo/_mx_logo.pug
include ../components/capital/menu-control/_mx_menu-control.pug
include ../components/capital/new-preview/_mx_new-preview.pug
include ../components/capital/news-preview/_mx_news-preview.pug
include ../components/capital/relations/_mx_relations.pug
include ../components/capital/shops/_mx_shops.pug
include ../components/capital/socials/_mx_socials.pug
include ../components/capital/tel/_mx_tel.pug
include ../components/capital/user/_mx_user.pug
