mixin header-navigation()
  .header-navigation
    ul.header-navigation__list
      -
        const _HEADER_NAVIGATION_LIST = [
          ['Каталог', 'catalog'],
          ['Магазины', 'shops'],
          ['Контакты', 'contacts'],
          ['О нас', 'about'],
        ];
      each item in _HEADER_NAVIGATION_LIST
        -
          const [text, target] = item;
          const isCatalog = (target === 'catalog');
          let path = `${target}.html`;
        if target === $pageId
          - path = null;
        else if $EMPTY_PATHS.includes(target)
          - path = '#';
        li(class=[
          'header-navigation__item',
          isCatalog ? `header-navigation__item--${target}` : null,
        ])
          a.header-navigation__link(href=path)= text
          if isCatalog
            .header-navigation__inner-nest
              +header-catalog()
