mixin header-navigation()
  .header-navigation
    .header-navigation__list
      -
        const _HEADER_NAVIGATION_LIST = [
          ['catalog', 'Каталог'],
          ['shops', 'Магазины'],
          ['contacts', 'Контакты'],
          ['about', 'О нас'],
        ];
      each item in _HEADER_NAVIGATION_LIST
        -
          const [location, text] = item;
          const isCatalog = (location === 'catalog');
          let link = `${location}.html`;
        if location === $pageId
          - link = null;
        else if location === 'shops'
          - link = '#';
        li(class=[
          'header-navigation__item',
          isCatalog ? `header-navigation__item--${location}` : null,
        ])
          a.header-navigation__link(href=link)= text
          if isCatalog
            .header-navigation__inner-nest
              +header-catalog()
