.#{$this}__item {
  @include padding-ver($_ver-shift);
  border-bottom: $_header-menu-border;

  &--basic {
    @include padding-hor(5px);
  }

  &--catalog {
    display: flex;
    flex-wrap: wrap;
  }

  @include media-breakpoint-from(xl) {
    border-bottom-style: none;

    &--catalog {
      $_icon-width: 18px;
      position: relative;
      z-index: 1;
      padding-left: $_icon-width + 17px;
      background-image: url("../img/#{$this}__item--catalog.svg");
      background-position: left;
      background-size: $_icon-width 14px;
      background-repeat: no-repeat;
    }
  }
}
