.#{$this}__item {
  @include padding-ver(15px);
  border-bottom: $_header-menu-border;

  &--basic {
    @include padding-hor(5px);
  }

  &--catalog {
    display: flex;
    flex-wrap: wrap;

    .#{$js-hook} & {
      padding-bottom: 8px;
    }
  }
}
