.#{$this}__inner-nest {
  &--link {
    @include padding-hor(5px);
    flex: 1 0 auto;
  }

  &--button {
    align-self: center;
    margin-right: 5px;
  }

  &--catalog {
    flex: 1 0 auto;
    display: none;
    margin-top: $_ver-shift;
    padding-top: $_ver-shift;
    border-top: $_header-menu-border;

    .#{$js-hook} & {
      display: block;
    }
  }
}
