mixin body-main__nest()
  - const { modifier, tag='section' } = attributes;
  case tag
    when 'header'
      header(class=setModifiers('body-main__nest', [modifier]))
        block
    when 'div'
      div(class=setModifiers('body-main__nest', [modifier]))
        block
    when 'section'
    default
      section(class=setModifiers('body-main__nest', [modifier]))
        block
