.#{$this}__nest {
  &--hoister {
    display: none;
  }

  &--promo {
    margin-bottom: 32px;
  }

  &--about {
    margin-bottom: 65px;
  }

  &--advantages {
    margin-bottom: 45px;
  }

  &--catalog {
    .#{$this}--index & {
      margin-bottom: 45px;
    }
  }

  &--multicolumn {
    @include margin-hor(auto);
    @include padding-hor(20px);
    max-width: $page-min-width;
    margin-bottom: 58px;
  }

  &--recipes {
    .#{$this}--index & {
      margin-bottom: 54px;
    }
  }
}
